/* CSS TRANG CHU */
*{
    font-family:Arial, Helvetica, sans-serif;
}
.flex{
    display: flex;

}
header{
    background-image: url(images/images\ \(1\).jfif);
    justify-content: space-between;
}
header img{
    width: 150px;
}
header>h1{
    color: red;
    text-align: center;
    text-shadow: 1px 1px #FF8040, 2px 2px #FF8040, 3px 3px #FF8040;
}
nav{
    background-color: darkblue;
    color: white;
}
nav>ul>li{
    list-style-type: none;
    border-right: 2px solid white;
    padding: 3px;
}
nav>ul>li:last-child{
    border-right: none;
}
nav>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
nav>ul>li>a:hover{
    color: red;
    font-size: 30;
}
.back-to-top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    display: none;
    background-color: rgb(26, 6, 239);
    color: white;
}
@keyframes chuyendong{
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}
.xe{
    position: absolute;
    color: white;
    animation: chuyendong 10s  linear infinite;
}

/* CSS GIOI THIEU */
.gt>b{
    text-align: center;
    font-size: 50px;
    color:rgb(237, 91, 23);
}
div.noidungs>p{
    color: rgb(5, 5, 62);
}

div.noidungs :last-child{
margin-bottom: 5px;
}

.ghichu>div{
    background: linear-gradient(rgb(28, 241, 174), rgb(104, 188, 209));
    padding: 5px;
    position: relative;
}
div>h5{
    text-align: center;
}
div>img{
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    width: 30%;
    border-radius: 10px;
}
div.noidungs{
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
}
footer{
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color:white;

}
h3{
    font-size: 30px;
    color: red;
    text-shadow: 1px 1px #FF8040, 2px 2px #FF8040, 3px 3px #FF8040;
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style-type: none;
}
ul.icon>li{
    margin-right: 20px ;
}

ul.icon>li>a{
    display: block;
    border:1px solid white;
    border-radius: 10px;
    background: white;
    width: 20px;   
}
footer{
    padding:10px 10px;
}

/* CSS SAN PHAM */
.search{
    margin-bottom: 10px;
}
.cars{
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    background: linear-gradient(gray,lightblue);
}
.car{
    position: relative;
    padding: 5px;
}
.car .gia{
    position: absolute;
    top:0;
    left:0;
    background-color: gold;
    color: white;
    border-radius: 10px 0;
}
.cars img{
    width: 100%;
}
.thumb>div{
    width: 20%;
    border-right: 2px solid black;
}
.thumb{
    border: 2px solid darkblue;
}
@keyframes doimau{
    0%{
        background-color: gold;
    }
    25%{
        background-color: red;
    }
    50%{
        background-color: blue;
    }
    75%{
        background-color: green;
    }
}
.gia{
    animation: doimau 2s infinite;
}
#btbuy{
    background-color: blue;
    color: white;
    width: 150px;
    position: absolute;
    bottom: 60px;
    right: 0;
    border-radius: 0 10px;
    display: none;
}
/* CSS BẢNG GIÁ */
table{
    border: 2px solid red;
    background: gray;
    border-collapse: collapse;
    width: 100%;
}
thead{
    background: darkblue;
    color: white;
    border: 2px solid red;
    text-align: center;
}
thead th{
    border-right: 2px solid red;
}
td{
    border: 2px solid red;
    text-align: center;
    color: white;
}